.main {
	position:absolute;
	width: 100vw;
	height: 100vh;

  .home-content {
    position: absolute;
		display: flex;
		flex-direction: column;
    width: map-get($sizes,md);;
    height: 100%;
		left: 50%;
		top:50%;
		transform: translate(-50%, -50%);
		@include media-query(md,max) {
			width: 100%;
		}

		.controlled-content {
			position: relative;
		}

		.footer {
			justify-content: center;
			margin-top: 5%;
			color: rgba(255, 255, 255, 0.45);
			@include media-query(md,max) {
				font-size: 0.75rem;
			}
		}

    .tab{

      .tab-content {

        .block-image {
					cursor: pointer;
					flex-basis: 300px;
					height: 393px;
					background-image: url('../img/me.jpg');
					background-repeat: no-repeat;
					background-size: cover;

					@include media-query(md,max) {
						width: 240px;
					}
					@include media-query(xs,max) {
						width:100%;
						margin:0 1em;
					}
        }

        .block-text {
          flex:1;
          padding: 3em;

					@include media-query(md,max) {
						width: 100%;
					}

          h1 {
            font-size: 3em;
            font-weight: 400;
            color: #363636;
            letter-spacing: -0.015em
          }

          p {
            font-size: 2em;
            color: #aaa;
            letter-spacing: -0.015em;
            font-weight: 100;
          }

					@include media-query(sm,max) {
						text-align: center;
						h1 {
							  font-size: 2em;
						}
						p {
							font-size: 1.5em;
						}
					}
        }
      }
    }
  }

}
