.main {
	position:absolute;
	width: 100vw;
	height: 100vh;

  .home-content {
    position: absolute;
    width: 100%;
    height: 100%;

    .tab{

      .nav {
      }
      .tab-content {

        .block-image {
          flex-basis: 331px;

					@include media-query(sm,max) {
						flex:1;
					}
        }

        .block-text {
          flex:1;
          padding: 3em;

          h1 {
            font-size: 3em;
            font-weight: 400;
            color: #363636;
            letter-spacing: -0.015em
          }

          p {
            font-size: 2em;
            color: #aaa;
            letter-spacing: -0.015em;
            font-weight: 100;
          }

					@include media-query(sm,max) {
						text-align: center;
						h1 {
							  font-size: 2em;
						}
						p {
							font-size: 1.5em;
						}
					}
        }
      }
    }
  }
}
