.tab {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include media-query(sm,min) {
    @for $i from 1 through $tab{
      #tab#{$i}:checked ~ .controlled-content .nav .icon-#{$i} {
        color: white;
      }
      #tab#{$i}:checked ~ .controlled-content .nav .icon-#{$i}::after {
        display:block;
      }
      #tab#{$i}:checked ~ .controlled-content .show-#{$i} {
        display:block;
      }
    }
  }

  &--center {
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);

    @include media-query(sm,max) {
      position:static;
      top:auto;
      left: auto;
      transform: translate(0);
    }
  }

  .nav {
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include media-query(sm,max) {
      width: 100%;
    }

    .icon {
      position: relative;
      font-size: 3rem;
      width: 0.5em;
      height: 1em;
      margin:0 0.5em;
      cursor: pointer;
      bottom: 50%;
      
      &:before:hover {
        color:white;
      }

      @include media-query(sm,max) {
        margin-top: 0.5em;
        font-size: 3rem;
        justify-content: space-between;
      }

      &:before {
        position: absolute;
        bottom: 50%;

        @include media-query(sm,max) {
          bottom:0;
        }

        &--selected {
          color:white;
        }
      }

      &:after{
        content:'';
        position: absolute;
        border-top: solid 0.5em transparent;
        border-right: solid 0.5em transparent;
        border-left: solid 0.5em transparent;
        border-bottom: solid 0.5em white;
        border-bottom-width: 0.5em;
        bottom:-6px;
        display: none;
      }
    }

  }

  .tab-controll {
    display: none;
  }

  .tab-content {
    width: 100%;
    top:0;
    display: none;

    @include media-query(sm,max) {
      display: block;
    }

    &--solid {
      background-color: white;

      @include media-query(sm,max) {
        margin:0.5em auto;
        width: 95%;
        padding: 0.5em;
      }
    }
  }
}
