.tab {
  width: 100%;

  @include media-query(sm,min) {

    @for $i from 1 through $tab{

      #tab#{$i}:checked ~ .controlled-content .nav .icon-#{$i} {
        color: white;

        &:hover:before {
          color:white;
        }
      }

      #tab#{$i}:checked ~ .controlled-content .nav .icon-#{$i}::after {
        display:block;
      }

      #tab#{$i}:checked ~ .controlled-content .show-#{$i} {
        display:block;
      }
    }
  }

  &--center {
    margin: 100px auto;

    @include media-query(sm,max) {
      position:static;
      top:auto;
      left: auto;
      transform: translate(0);
    }
  }

  .tab-controll {
    display: none;
  }

  .nav {
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include media-query(sm,max) {
      width: 100%;
    }

    .list-tab {

      .tab {

        .icon {
          width: 50px;
          height: 80px;
          position: relative;
          bottom: 50%;
          margin:0 0.5em;

          &:before {
            position: absolute;
            font-size: 3rem;
            bottom: 50%;
            cursor: pointer;

            @include media-query(sm,max) {
              bottom:0;
            }

            &--selected {
              color:white;
            }
          }

          &:hover:before {
            color:#c79180;
          }

          &:after{
            content:'';
            position: absolute;
            border-top: solid 24px transparent;
            border-right: solid 24px transparent;
            border-left: solid 24px transparent;
            border-bottom: solid 24px white;
            border-bottom-width: 24px;
            bottom:-6px;
            display: none;
            font-size: 3rem;
          }


          @include media-query(sm,max) {
            margin-top: 0.5em;
            justify-content: space-between;
          }
        }
      }
    }
  }

  .tab-content {
    width: 100%;
    top:0;
    display: none;

    @include media-query(sm,max) {
      display: block;
    }

    &--solid {
      background-color: white;

      @include media-query(sm,max) {
        margin:0.5em auto;
        width: 95%;
        padding: 0.5em;
      }
    }
  }
}
